li {
    display: flex;
    align-items: center;
}

button {

    width: 60px;
    margin-left: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

button:focus,
button:hover {
    background-color: rgb(173, 206, 255);
}